@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background: url(./img/fundo.jpg);
}

.gerar {
    position: absolute;
    border-radius: 20px;
    align-items: center;
    width: 1000px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    top: 43%;
    transition: .8s;
}

.gerar:hover {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    transition: .8s;
}

.box {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 12%;
    transform: translateY(-25%);
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 75%;
}

.h1 {
    position: absolute;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.h5 {
    position: absolute;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
}